/* style deuxieme page:evenement */
/* Reset:*/
a{
  text-decoration: none;
  color: inherit;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}


/*Style général*/
* {
  font-family:'Roboto', sans-serif;
}

h1{
  text-align: center;
  padding: 30px;
  margin-top: 80px;
}

h2{
  margin-left: 20px;
}
/* Premiere et deuxieme section:echec et monopoly */
.conteneur-bloc1{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.date-bloc1 p{
  padding:10px;
}

.image-bloc1{
  width: 15%;
  height: 15%;
}
.section-1{
  background-color: bisque;
  padding: 20px;
}
.section-2{
  background-color: azure;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}

/* Mediaqueries */
@media screen and (max-width: 425px){
  .section-1, .section-2{
    padding: 10px;
  }
  .date-bloc1 p{
    padding:10px;
  }
}

